.headerDiv {
	background-color: #FFFFE0; 
	width: 100%; 
	height: 100%;
}
.headerDiv div{ display:inline-block;} 

..test-box img{
	position:absolute;
	bottom:20px;
	left:60%;
	margin-left:-100px;
	border:0;
	

}
.bgcolor{
    background:#000;
    }