<?xml  version="1.0"  encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<welcome-file-list>
		<welcome-file>/WEB-INF/jsp/login.jsp</welcome-file>
	</welcome-file-list>
	<!-- Spring配置 -->
	<!-- 配置Spring配置文件路径,好让ContextLoaderListener对其加载与解析 -->
	<context-param>
		<description>设置Spring加载时的配置文件位置，默认位置在WEB-INF/lib目录下</description>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:config/spring/spring_dao.xml</param-value>
	</context-param>
	<listener>
		<description>Spring容器加载监听器</description>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 让Spring MVC的前端控制器拦截所有请求 -->
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<!-- 定义Spring MVC的前端控制器 -->
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:config/spring/spring_mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- 编码过滤器 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<!-- 路径映射 -->
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>UploadHandleServlet</servlet-name>
		<servlet-class>me.gacl.web.controller.UploadHandleServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UploadHandleServlet</servlet-name>
		<url-pattern>/servlet/UploadHandleServlet</url-pattern>
	</servlet-mapping>
    <servlet>
		<servlet-name>loginJsp</servlet-name>
		<jsp-file>/WEB-INF/jsp/login.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginJsp</servlet-name>
		<url-pattern>/loginjsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>navJsp</servlet-name>
		<jsp-file>/WEB-INF/jsp/nav.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>navJsp</servlet-name>
		<url-pattern>/navjsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>mainJsp</servlet-name>
		<jsp-file>/WEB-INF/jsp/main.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>mainJsp</servlet-name>
		<url-pattern>/mainjsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>headerJsp</servlet-name>
		<jsp-file>/WEB-INF/jsp/header.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>headerJsp</servlet-name>
		<url-pattern>/headerjsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>userJsp</servlet-name>
		<jsp-file>/WEB-INF/jsp/user/user.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>userJsp</servlet-name>
		<url-pattern>/userjsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deptJsp</servlet-name>
		<jsp-file>/WEB-INF/jsp/dept/dept.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>deptJsp</servlet-name>
		<url-pattern>/deptjsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>jobJsp</servlet-name>
		<jsp-file>/WEB-INF/jsp/job/job.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>jobJsp</servlet-name>
		<url-pattern>/jobjsp</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>noticeJsp</servlet-name>
		<jsp-file>/WEB-INF/jsp/notice/notice.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>noticeJsp</servlet-name>
		<url-pattern>/noticejsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>docJsp</servlet-name>
		<jsp-file>/WEB-INF/jsp/doc/doc.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>docJsp</servlet-name>
		<url-pattern>/docjsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>employeeJsp</servlet-name>
		<jsp-file>/WEB-INF/jsp/employee/employee.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>employeeJsp</servlet-name>
		<url-pattern>/employeejsp</url-pattern>
	</servlet-mapping>
</web-app> 